 <div class="hamburgare">
            <ol>
                <ul><p>Text1</p></ul>
                <ul><p>Text2</p></ul>
                <ul><p>Text3</p></ul>
                <ul><p>Text4</p></ul>
                <ul><p>Text5</p></ul>
                <ul><p>Text6</p></ul>
                <ul><p>Text7</p></ul>
                <ul><p>Text8</p></ul>
            </ol>
        </div>
      
            <H1>
                <a href="index3.html">Japan</a>
            </H1>
            <img src="./img/Flagga.PNG" alt="Flagga">

            <div class = "minibox1"></div>
            <div class = "minibox2"></div>
            <div class = "minibox3">
                <h2>Tokyo</h2>
            </div>
            <div class = "minibox4">
                <h2>Kyoto</h2>
            </div>
            <div class = "minibox5">
                <h2>Osaka</h2>
            </div>
               
            <div class = "minibox6">
                <h2>Show more</h2>
            </div>

            <script src="js/menu.js"></script